<?xml version='1.0' encoding='utf-8'?>
<widget id="com.encedo.mobile.auth.android" version="1.0.3" android-versionCode="100030" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Encedo Mobile Authenticator</name>
    <description>
        Pocket version of your magical Encedo Authenticator
    </description>
    <author email="dev@encedo.com" href="https://encedo.com">
        Encedo Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreenDelay" value="1" />
    <platform name="android">
	
        <allow-intent href="market:*" />

        <hook type="after_prepare" src="hooks/after_prepare/999-androidx-qr-firebase-fixes.js" />

		
        <preference name="AndroidXEnabled" value="true" />
		<preference name="android-targetSdkVersion" value="35" />
		<preference name="GradlePluginGoogleServicesEnabled" value="true" />
		<preference name="GradlePluginGoogleServicesVersion" value="4.3.8" />
		
        <icon density="ldpi" src="www/img/android-chrome-192x192.png" />
        <icon density="mdpi" src="www/img/android-chrome-512x512.png" />

        <!-- New splash system for Android 12+ -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/blank.png" />
        <preference name="SplashScreenBackgroundColor" value="#000000" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#000000" />
		
        <resource-file src="res/android/build-extras.gradle" target="app/build-extras.gradle" />
        <resource-file src="res/android/gradle.properties" target="gradle.properties" />		
        <resource-file src="google-services.json" target="google-services.json" />
		
        <resource-file src="res/android/raw/blackberry.mp3" target="app/src/main/res/raw/blackberry.mp3" />
        <resource-file src="res/android/raw/msn.mp3" target="app/src/main/res/raw/msn.mp3" />
        <resource-file src="res/android/raw/crystal.mp3" target="app/src/main/res/raw/crystal.mp3" />
		
        <resource-file src="res/android/drawable-mdpi/notification_icon.png" target="app/src/main/res/drawable-mdpi/notification_icon.png" />
        <resource-file src="res/android/drawable-hdpi/notification_icon.png" target="app/src/main/res/drawable-hdpi/notification_icon.png" />
        <resource-file src="res/android/drawable-xhdpi/notification_icon.png" target="app/src/main/res/drawable-xhdpi/notification_icon.png" />
        <resource-file src="res/android/drawable-xxhdpi/notification_icon.png" target="app/src/main/res/drawable-xxhdpi/notification_icon.png" />
        <resource-file src="res/android/drawable-xxxhdpi/notification_icon.png" target="app/src/main/res/drawable-xxxhdpi/notification_icon.png" />
        <resource-file src="res/android/drawable-xxxhdpi/notification_icon_large.png" target="app/src/main/res/drawable-xxxhdpi/notification_icon_large.png" />
		
        <resource-file src="res/android/drawable-mdpi/coffee.png" target="app/src/main/res/drawable-mdpi/coffee.png" />
        <resource-file src="res/android/drawable-hdpi/coffee.png" target="app/src/main/res/drawable-hdpi/coffee.png" />
        <resource-file src="res/android/drawable-xhdpi/coffee.png" target="app/src/main/res/drawable-xhdpi/coffee.png" />
        <resource-file src="res/android/drawable-xxhdpi/coffee.png" target="app/src/main/res/drawable-xxhdpi/coffee.png" />
        <resource-file src="res/android/drawable-xxxhdpi/coffee.png" target="app/src/main/res/drawable-xxxhdpi/coffee.png" />
        <resource-file src="res/android/drawable-xxxhdpi/coffee_large.png" target="app/src/main/res/drawable-xxxhdpi/coffee_large.png" />
		
        <resource-file src="res/android/drawable-mdpi/thumbs_up.png" target="app/src/main/res/drawable-mdpi/thumbs_up.png" />
        <resource-file src="res/android/drawable-hdpi/thumbs_up.png" target="app/src/main/res/drawable-hdpi/thumbs_up.png" />
        <resource-file src="res/android/drawable-xhdpi/thumbs_up.png" target="app/src/main/res/drawable-xhdpi/thumbs_up.png" />
        <resource-file src="res/android/drawable-xxhdpi/thumbs_up.png" target="app/src/main/res/drawable-xxhdpi/thumbs_up.png" />
        <resource-file src="res/android/drawable-xxxhdpi/thumbs_up.png" target="app/src/main/res/drawable-xxxhdpi/thumbs_up.png" />
        <resource-file src="res/android/drawable-xxxhdpi/thumbs_up_large.png" target="app/src/main/res/drawable-xxxhdpi/thumbs_up_large.png" />
		
		<resource-file src="res/android/drawable-mdpi/encedo.png" target="app/src/main/res/drawable-mdpi/encedo.png" />
        <resource-file src="res/android/drawable-hdpi/encedo.png" target="app/src/main/res/drawable-hdpi/encedo.png" />
        <resource-file src="res/android/drawable-xhdpi/encedo.png" target="app/src/main/res/drawable-xhdpi/encedo.png" />
        <resource-file src="res/android/drawable-xxhdpi/encedo.png" target="app/src/main/res/drawable-xxhdpi/encedo.png" />
        <resource-file src="res/android/drawable-xxxhdpi/encedo.png" target="app/src/main/res/drawable-xxxhdpi/encedo.png" />
        <resource-file src="res/android/drawable-xxxhdpi/encedo_large.png" target="app/src/main/res/drawable-xxxhdpi/encedo_large.png" />
		
        <!-- <resource-file src="res/android/values/colors.xml" target="app/src/main/res/values/colors.xml" /> -->
		
    </platform>
    <platform name="ios">
	
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
		
        <icon height="192" src="www/img/android-chrome-192x192.png" width="192" />
        <icon height="512" src="www/img/android-chrome-512x512.png" width="512" />
		
		<icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/ios/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />
        <!-- iTunes Marketing Image -->
        <icon src="res/ios/icon-1024.png" width="1024" height="1024" />

		
        <resource-file src="res/ios/sound/blackberry.caf" />
        <resource-file src="res/ios/sound/crystal.caf" />
        <resource-file src="res/ios/sound/msn.caf" />
        <resource-file src="res/ios/pn-actions.json" />
		
		<preference name="NativeXHRLogging" value="full" />
		<preference name="AllowUntrustedCerts"  value="true" />
		<preference name="InterceptRemoteRequests" value="all" />
		<preference name="CustomUserAgent" value="my_custom_user_agent" />
		<preference name="allowFileAccessFromFileURLs" value="true" />
		<preference name="allowUniversalAccessFromFileURLs" value="true" />
		
    </platform>
</widget>
