/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    background: rgba(0,0,0,0.2);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: transparent !important;
    font-family: 'Inter', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:14px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
	overflow-x: hidden;
	color: #333;
}

.glued-bottom { position: absolute; bottom: 0px; left: 0px; right: 0px; padding-bottom: 20px; }

.bgrSupreme { height: 10vh; background: url(../img/android-chrome-512x512.png) no-repeat center center; background-size: contain; margin: 0px 20px; }

.shapes { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; overflow: hidden; background: #fff; }
.shapes.hidden { display: none; }

.roundedStart { width: 500px; height: 500px; display: block; background: rgba(1,1,1,0.04); margin-top: -150px; margin-left: -300px; margin-bottom: -450px; margin-right: -200px; border-radius: 200px; transform: rotate(0deg); position: relative; z-index: 2; -webkit-animation:spin 24s linear infinite; -moz-animation:spin 24s linear infinite; animation:spin 24s linear infinite; transition-duration: 0.1s; }
.roundedStart2 { width: 500px; height: 600px; display: block; background: rgba(1,1,1,0.03); margin-top: -300px; margin-left: -50px; margin-bottom: -350px; margin-right: -500px; border-radius: 200px; transform: rotate(0deg); position: relative; z-index: 1; -webkit-animation:spin 28s linear infinite; -moz-animation:spin 34s linear infinite; animation:spin 28s linear infinite; transition-duration: 0.2s; }
.roundedStart3 { width: 600px; height: 700px; display: block; background: rgba(0,0,0,0.03); margin-top: -200px; margin-left: -200px; margin-bottom: -850px; margin-right: -500px; border-radius: 500px; transform: rotate(0deg); position: relative; z-index: 1; -webkit-animation:spin 28s linear infinite; -moz-animation:spin 28s linear infinite; animation:spin 28s linear infinite; }

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background: #fff;
    }
}


#app.hidden { display: none !important; }
#body {  }
#body.hidden { background: transparent none !important; }
#finalAPP { display: block; min-height: 100vh; width: 100%; overflow-x: hidden; transition-duration: 0.4s; transition-delay: 0.1s; }
#finalAPP.hidden { display: none !important; background: transparent none !important; visibility: hidden; }
.offline #finalAPP { display: none; }
.offline #deviceready { display: none; }

#finalAPP .mainH1 { margin: 0px; font-size: 110%; color: #222; font-weight: bold; text-align: left; text-transform: uppercase; padding: 35px 35px 0px 35px; position: relative; z-index: 2; line-height: 1.3; margin-left: -1px; }
#finalAPP .mainH1 strong { display: inline-block; font-size: 200%; color: #2A225E; background: -webkit-linear-gradient(#2A225E, #6E358C); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; text-align: left; text-transform: none; line-height: 1; padding-right: 50px; }
#finalAPP .mainH1 .settingsButton { float: right; margin-top: -53px; padding: 7px 5px 3px 5px; text-align: center; border-radius: 50%; background: linear-gradient(#2A225E, #6E358C); color: #fff; font-size: 140%; margin-bottom: -20px; height: 32px; width: 32px; }
#finalAPP .pageActive .mainH1 .settingsButton { margin-top: 3px; margin-bottom: -40px; }
#finalAPP .pageActive .mainH1 .settingsButton:active { border: 10px solid #444; }

#finalAPP .specialH1 { margin: 0px; font-size: 120%; color: #555; font-weight: normal; text-align: center; text-transform: uppercase; padding: 30px 30px 10px 30px; line-height: 1; position: relative; z-index: 2; transition-delay: 0.1s !important; }
#finalAPP .specialH1 strong { color: #2A225E; font-size: 260%; font-weight: bold; text-transform: none; letter-spacing: +1px; transition-duration: 0.5s; }
#finalAPP .specialH1x, .specialH1x { margin: 0px; font-size: 115%; color: #555; font-weight: bold; text-align: center; text-transform: uppercase; padding: 30px 30px 10px 30px; line-height: 1.5; position: relative; z-index: 2; }
#finalAPP .specialH1x strong, .specialH1x strong { color: #2A225E; background: -webkit-linear-gradient(#2A225E, #6E358C);   -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 220%; font-weight: bold; text-transform: none; letter-spacing: +1px; transition-duration: 0.5s; line-height: 1; }
#finalAPP .specialH2 { color: #111; font-size: 130%; font-weight: bold; text-transform: none; letter-spacing: +1px; line-height: 1.2; }
#finalAPP .specialH2C { text-align: center; }
#finalAPP .sepH2 { margin: 20px; font-size: 110%; color: #2A225E; font-weight: bold; text-align: left; text-transform: uppercase; position: relative; z-index: 2; }
#finalAPP .mainP, .mainP { margin: 20px 40px 20px 40px; font-size: 140% !important; color: #555; text-align: center; line-height: 1.5; position: relative; z-index: 2; font-weight: normal; }
#finalAPP h2.mainP { font-weight: bold; }

#finalAPP .tplInfo .specialH1 { font-size: 140%; }
#finalAPP .tplInfo .specialH1 strong { font-size: 220%; }

.toggle i { display: inline-block; transition-duration: 0.7s; }
.toggle.opened i { transform: rotate(270deg); }

.toggler { max-height: 120px; opacity: 1; transition-duration: 0.5s; overflow: hidden; }
.toggler.dead { max-height: 0px; opacity: 0; }

.options { margin-top: -30px; }

.separ { display: block; width: 80px; height: 2px; margin: 20px 20px 40px 20px; background-color: #2A225E; text-align: center; position: relative; z-index: 2; }
.separC { margin: 40px auto 40px auto; }
.separP { margin: 35px 20px 25px 10px; }
.mainMenu { list-style: none; width: 100%; display: block; text-align: left; margin: 0px 0px 30px 0px; padding: 0px; position: relative; z-index: 2; }
.mainMenu li {  }
.mainMenu li a { display: block; padding: 20px; color: #333; text-decoration: none; text-transform: none; text-align: left; font-size: 120%; margin-left: -50px; }
.mainMenu li a i { color: #2A225E; background: -webkit-linear-gradient(#2A225E, #6E358C);   -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 130%; }
.mainMenu li a:hover, .mainMenu li a:active { padding-left: 40px; }
.mainMenu2 li a:hover, .mainMenu2 li a:active { background: linear-gradient(#2A225E, #6E358C); color: #eee; }
.mainMenu2 li a:hover i, .mainMenu2 li a:active i { color: #fff; }

.pageActive .mainMenu li a { margin-left: 0px; }

.mainMenu li:nth-child(1) a { transition-delay: 0s; }
.mainMenu li:nth-child(2) a { transition-delay: 0.1s; }
.mainMenu li:nth-child(3) a { transition-delay: 0.2s; }
.mainMenu li:nth-child(4) a { transition-delay: 0.3s; }
.mainMenu li:nth-child(5) a { transition-delay: 0.4s; }
.mainMenu li:nth-child(6) a { transition-delay: 0.5s; }
.mainMenu li:nth-child(7) a { transition-delay: 0.6s; }
.mainMenu li:nth-child(8) a { transition-delay: 0.7s; }

.asHeader { background: linear-gradient(#2A225E, #6E358C); padding: 10px 10px; color: #fff; }
.asHeader li a { font-weight: bold; color: #fff; }

.wyswig { padding: 0px 25px; text-transform: none; position: relative; z-index: 2; }
.wyswigWithP { padding-top: 25px; }
.wyswigR { padding: 0px 0px 0px 40px; }
.wyswigTwice { padding: 0px 0px 0px 0px; }
.wyswig p { margin-bottom: 20px; color: #444; line-height: 1.6; }
.wyswig ul { margin-bottom: 20px; }
.wyswig ul li { color: #444; line-height: 1.6; }
.wyswig h2 { margin-bottom: 20px; color: #111; line-height: 1.6; font-size: 150%; }
.wyswig h3 { margin-bottom: 20px; color: #222; line-height: 1.6; font-size: 130%; }
.wyswig h4 { margin-bottom: 20px; color: #333; line-height: 1.6; font-size: 110%; }

.listSpecial { padding: 0px 30px 10px 15px; position: relative; z-index: 100; }
.listSpecial .item { display: grid; grid-gap: 10px; grid-template-columns: 50px auto; font-weight: normal; }
.listSpecial .item .data { font-weight: bold; padding-top: 0px; text-align: right; padding-bottom: 15px; }
.listSpecial .item .data span { font-weight: normal; font-size: 70%; }
.listSpecial .item .data .icon-ok { color: #4B7C40; }
.listSpecial .item .data .icon-cancel { color: #7C404B; }
.listSpecial .item .data .icon-lock { color: #444; }
.listSpecial .item .desc { border-left: 1px solid #ddd; padding-left: 10px; padding-bottom: 15px; }
.listSpecial .item .desc p { margin: 0px; padding: 0px 0px 15px 0px; line-height: 1.2; }
.listSpecial .item .desc p span { color: #555; word-break: break-word; font-size: 85%; }
.listSpecial .item .desc p strong { color: #333; display: block; margin-bottom: 5px; font-weight: bold; font-size: 120%; line-height: 1.2; position: relative; }
.listSpecial .item .desc p strong:before { display: block; content: ""; width: 7px; height: 7px; border-radius: 50%; background: #ccc; position: absolute; top: 7px; left: -14px;  }

.listDevices {  }
.listDevices .item { background: rgba(1,1,1,0.04); border-radius: 26px; padding: 10px 30px; margin: 10px 20px 20px 20px; color: #888; }
.listDevices .item strong { display: block; margin-bottom: 5px; font-size: 150%; color: #333; }
.listDevices .item .liner { display: block; width: 50px; height: 2px; background: rgba(1,1,1,0.4); margin-bottom: 5px; }

.devicePageDetails {  }
.devicePageDetails h3 { margin-bottom: 20px; background: rgba(1,1,1,0.04); border-radius: 12px; padding: 10px 20px; }
.devicePageDetails h3 span { display: inline-block; border-bottom: 2px solid #ccc; font-size: 80%; text-transform: uppercase; }
.devicePageDetails h3 strong { display: block; color: #000; font-size: 120%; }

.devicePageDetails h4 { margin-bottom: 20px; background: rgba(1,1,1,0.02); border-radius: 12px; padding: 10px 20px; }
.devicePageDetails h4 span { display: inline-block; border-bottom: 2px solid #ccc; font-size: 80%; text-transform: uppercase; }
.devicePageDetails h4 strong { display: block; color: #000; font-size: 120%; }

.bigIcon { text-align: center; }
.bigIcon i { display: inline-block; text-align: center; font-size: 400%; padding: 20px; border-radius: 50%; border: 3px solid #fff; transform: rotate(600deg); color: #fff; }
.pageActive .bigIcon i { transform: rotate(0deg); }

.blockep { padding: 12px 10px 12px 0px; display: grid; grid-gap: 20px; grid-template-columns: 30px auto; transform: translateX(-40%); -webkit-transform: translateX(-40%); opacity: 0; transition: all 0.5s fade-out; margin-bottom: 10px; text-decoration: none; }
.blockep i { display: inline-block; vertical-align: middle; font-size: 190%; color: #2A225E; transition-delay: 0.1s; margin-top: -3px; }
.blockep span { display: inline-block; vertical-align: middle; font-weight: normal; color: #555; line-height: 1.4; transition-delay: 0.1s; padding-right: 15px; }
.blockep span strong { display: block; line-height: 1; font-size: 160%; font-size: bold; color: #2A225E; letter-spacing: +4px; transition-delay: 0.1s; margin-bottom: 4px; }

.pageActive .blockep { transform: translateX(0%); -webkit-transform: translateX(0%); opacity: 1; }
.pageActive .blockep span strong { letter-spacing: +0px; }

.blockep:nth-child(1) { transition-delay: 0s; }
.blockep:nth-child(2) { transition-delay: 0.1s; }
.blockep:nth-child(3) { transition-delay: 0.2s; }
.blockep:nth-child(4) { transition-delay: 0.3s; }
.blockep:nth-child(5) { transition-delay: 0.4s; }
.blockep:nth-child(6) { transition-delay: 0.5s; }
.blockep:nth-child(7) { transition-delay: 0.6s; }
.blockep:nth-child(8) { transition-delay: 0.7s; }

.buttonCTA { display: block; background: linear-gradient(#2A225E, #6E358C); color: #fff; font-weight: bold; padding: 20px; max-width: 100%; text-align: center; border: 0; outline: 0; text-transform: uppercase; letter-spacing: +3px; border-radius: 26px; text-decoration: none; }
.buttonCTAG { background: linear-gradient(#fff, #fff); box-shadow: 0px 0px 5px 7px rgb(0 0 0 / 2%); color: #2A225E; }
.buttonCTAL { text-align: left; }
.wyswigR .buttonCTA { border-radius: 32px 0px 0px 32px; font-size: 110%; }
.wyswigTwice .buttonCTA { width: 40%; border-radius: 32px 0px 0px 32px; font-size: 110%; display: inline-block; float: right; }
.wyswigTwice .buttonCTAG { width: 30%; border-radius: 0px 32px 32px 0px; font-size: 110%; display: inline-block; float: left; }

#finalAPP .page, .page { position: absolute; transition: all .4s ease-in-out; top: 0px; left: 0px; right: 0px; min-height: 100%; z-index: 10; transform: translateX(-100%);  -webkit-transform: translateX(-100%); transition-delay: 0.01s; max-width: 100%; max-height: 100vh; overflow-x: hidden; display: none; }
#finalAPP .pageVisible, .pageVisible { display: block; }
#finalAPP .pageActive, .pageActive { display: block; transform: translateX(0%); -webkit-transform: translateX(0%); z-index: 100; transition-delay: 0.01s; max-height: 50000vh; }
#finalAPP .centeredV, .centeredV { display: flex; flex-direction: column; justify-content: center; }

@media (min-height: 580px) { 
	#finalAPP .page, .page { padding-top: 15px; }
}

#finalAPP.transparent {  }

#finalAPP .page .whited { position: relative; z-index: 5; }
#finalAPP .page .whited p { color: #fff; }
#finalAPP .page .whited .mainP { color: #fff; font-size: 120%; font-weight: bold; line-height: 1.5; }

#finalAPP {  }
#finalAPP .page { word-wrap: break-word; }
#finalAPP .page p { word-wrap: break-word; }
#finalAPP .page .mainP { word-wrap: break-word; }
#finalAPP .page .specialH1 { word-wrap: break-word; }
#finalAPP .page .specialH1 strong { word-wrap: break-word; }
#finalAPP .page .buttonCTA { word-wrap: break-word; }

#finalAPP.tplOk { background: #4B7C40 !important; }
.tplOk .shapes { background: transparent; }

.tplOk2 .roundedStart2 { background: #47723C; }
.tplOk2 .roundedStart { background: #3D6033; }

#finalAPP.tplOk .page { background: transparent; color: #fff; }
#finalAPP.tplOk .page p {  }
#finalAPP.tplOk .page .bigIcon i { color: #eee; border-color: #aaa; }
#finalAPP.tplOk .page .mainP { color: #eee; font-size: 120%; font-weight: bold; line-height: 1.5; }
#finalAPP.tplOk .page .specialH1 { color: #eee; }
#finalAPP.tplOk .page .specialH1 strong { color: #eee; }
#finalAPP.tplOk .page .buttonCTA { color: #4B7C40; font-size: 110%; }

#tplOk .specialH1 strong { color: #fff; -webkit-text-fill-color: white !important; }

#finalAPP.tplProblem { background: #5e2a22 !important; }
.tplProblem .shapes { background: transparent; }
.tplProblem2 .roundedStart2 { background: #51251E; }
.tplProblem2 .roundedStart { background: #3F1D18; }

#finalAPP.tplProblem .page { background: transparent; color: #fff; }
#finalAPP.tplProblem .page p { color: #eee; }
#finalAPP.tplProblem .page .bigIcon i { color: #eee; border-color: #aaa; }
#finalAPP.tplProblem .page .mainP { color: #eee; font-size: 120%; font-weight: bold; line-height: 1.5; }
#finalAPP.tplProblem .page .specialH1 { color: #eee; }
#finalAPP.tplProblem .page .specialH1 strong { color: #fff; }
#finalAPP.tplProblem .page .buttonCTA { color: #5e2a22; font-size: 110%; }

#finalAPP.tplAttention { background: #333 !important; }
.tplAttention .shapes { background: transparent; }
.tplAttention2 .roundedStart2 { background: #222; }
.tplAttention2 .roundedStart { background: #000; }
#finalAPP.tplAttention .page { background: transparent; color: #fff; }
#finalAPP.tplAttention .page p { color: #eee; }
#finalAPP.tplAttention .page .bigIcon i { color: #eee; border-color: #aaa; }
#finalAPP.tplAttention .page .mainP { color: #eee; font-size: 120%; font-weight: bold; line-height: 1.5; }
#finalAPP.tplAttention .page .specialH1 { color: #eee; }
#finalAPP.tplAttention .page .specialH1 strong { color: #fff; }
#finalAPP.tplAttention .page .buttonCTA { color: #000; font-size: 110%; }

#finalAPP.tplConfirm {  }
#finalAPP.tplConfirm .page { background: transparent; color: #333; }
#finalAPP.tplConfirm .page p { color: #555; font-size: 90%; }
#finalAPP.tplConfirm .page .mainP { color: #555; font-weight: bold; line-height: 1.5; }
#finalAPP.tplConfirm .page .specialH1 { color: #111; }
#finalAPP.tplConfirm .page .specialH1 strong { color: #111; }
#finalAPP .page .tplConfirm_button { width: 38%; font-size: 110%; display: inline-block; float: right; 9background: linear-gradient(#009900, #003300); padding: 25px; padding-right:30%; margin-right: -30%; margin-top: -5px; }
#finalAPP.tplConfirm .page .buttonCTAG { width: 34%; font-size: 110%; display: inline-block; float: left; 9background: linear-gradient(#cc0000, #770000); 9color: #fff; }
#finalAPP.tplConfirm .page .bigIcon i { color: #2A225E; border-color: #2A225E; }


#finalAPP .log { border-bottom: 1px solid #888; padding-bottom: 10px; margin-bottom: 10px; word-wrap: break-word; overflow-wrap: break-word; }
#finalAPP .log .date { font-weight: bold; display: block; margin-bottom: 5px; }

#finalAPP .scannedQRs .log { border-bottom: 1px solid #888; padding-bottom: 10px; margin-bottom: 10px; word-wrap: break-word; overflow-wrap: break-word; }
#finalAPP .scannedQRs .log .date { font-weight: bold; display: block; margin-bottom: 5px; }

.animatedX { transition: all 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.animatedX2 { transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1); -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1); -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1); }
.animatedX3 { transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.moved { opacity: 0; transition-duration: 1.2s; transform: translate(0px, 40px); -webkit-transform: translate(0px, 40px);-moz-transform: translate(0px, 40px);-o-transform: translate(0px, 40px);-ms-transform: translate(0px, 40px); }
.pageActive .moved { opacity: 1; transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);-o-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px); }

.moved:nth-child(1) { transition-delay: 0.2s; }
.moved:nth-child(2) { transition-delay: 0.4s; }
.moved:nth-child(3) { transition-delay: 0.6s; }
.moved:nth-child(4) { transition-delay: 0.8s; }
.moved:nth-child(5) { transition-delay: 0.9s; }
.moved:nth-child(6) { transition-delay: 1.1s; }
.moved:nth-child(7) { transition-delay: 1.2s; }
.moved:nth-child(8) { transition-delay: 1.3s; }
.moved:nth-child(9) { transition-delay: 1.4s; }
.moved:nth-child(10) { transition-delay: 1.5s; }
.moved:nth-child(11) { transition-delay: 1.6s; }
.moved:nth-child(12) { transition-delay: 1.7s; }
.moved:nth-child(13) { transition-delay: 1.8s; }
.moved:nth-child(14) { transition-delay: 1.9s; }
.moved:nth-child(15) { transition-delay: 2.0s; }
.moved:nth-child(16) { transition-delay: 2.1s; }
.moved:nth-child(17) { transition-delay: 2.2s; }
.moved:nth-child(18) { transition-delay: 2.3s; }
.moved:nth-child(19) { transition-delay: 2.4s; }

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce2 {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1px);
  }
}
@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}
.bounce2 {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
}

.bounce {
	cursor: pointer;
	animation: bounce 0.5s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
}

@keyframes bounce {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, 20px, 0);
	}
}


/* Prefix Support */

ball {
	-webkit-animation-name: bounce;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	from {
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
	to {
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes beam {
  50% {
    opacity: 0;
  }
}

@keyframes scanning {
  50% {
    transform: translateY(45vh);
  }
}

.qrscannerFrame { display: none; height: 100vh; width: 100%; grid-template-columns: 70px auto 70px; grid-template-rows: 3fr 6fr 4fr; background: transparent none !important; }
.qrscannerFrame.active { display: grid; position: relative; z-index: 1000;  }
.qrscannerFrame .bgrW { background: rgba(0,0,0,0.55); }
.qrscannerFrame .visibled { background: rgba(0,0,0,0.1); position: relative; }
.qrscannerFrame .visibled .laser {
    width: 130%;
    margin-left: -15%;
    background-color: #ff0000;
    height: 2px;
    position: absolute;
    top: -15px;
    z-index: 2;
    box-shadow: 0 0 6px red;
    animation: scanning 3s infinite;
  }

 .qrscannerFrame .visibled .diode {
    animation: beam .01s infinite;
  }
  
  
#goToTop {position: fixed;bottom: -60px;right: 20px;display: block;padding: 10px;background: linear-gradient(#2A225E, #6E358C);-moz-border-radius: 8px;-webkit-border-radius: 50%;border-radius: 50%;cursor: pointer;z-index: 10000;transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
body.changed #goToTop {bottom: 20px;}
#goToTop span {display: block;width: 20px;height: 14px;margin-top: 8px;}
#goToTop span:after {display: block;content: "";width: 13px;height: 2px;transform: rotate(0deg);background-color: #fff;margin-left: 9px;margin-top: -1px;transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
#goToTop span:before {display: block;content: "";width: 13px;height: 2px;transform: rotate(0deg);background-color: #fff;margin-left: 0px;margin-top: 0px;transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);}

body.changed #goToTop span:after{transform: rotate(45deg);}
body.changed #goToTop span:before{transform: rotate(-45deg);}

@media only screen and (max-width: 920px) {
  body.changed #goToTop {bottom: 20px;}
}

#goBack {position: fixed;top: 30px;left: -80px;display: none;padding: 10px;background: linear-gradient(#2A225E, #6E358C);-moz-border-radius: 8px;-webkit-border-radius: 50%;border-radius: 50%;cursor: pointer;z-index: 10000;transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); transform: rotate(-90deg);}
body.changed #goBack {left: 20px;}
#goBack span {display: block;width: 20px;height: 14px;margin-top: 8px;}
#goBack span:after {display: block;content: "";width: 13px;height: 2px;transform: rotate(0deg);background-color: #fff;margin-left: 9px;margin-top: -1px;transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
#goBack span:before {display: block;content: "";width: 13px;height: 2px;transform: rotate(0deg);background-color: #fff;margin-left: 0px;margin-top: 0px;transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);-o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);}

body.changed #goBack span:after{transform: rotate(45deg);}
body.changed #goBack span:before{transform: rotate(-45deg);}

@media only screen and (max-width: 920px) {
  body.changed #goBack { left: 20px;}
}

.loader-container {
  display: inline-block;
  width: 90px;
  height: 18px;
  position: relative;
  filter: url(#gooey);
  margin-left: -10px; 
  margin-top: -7px;
  vertical-align: middle; 
}

.loader-container > * {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 14px;
  height: 14px;
  background: linear-gradient(-45deg, #6E358C, #2A225E, #6E358C);
  top: 25%;
  border-radius: 50%;
  animation: loading3 4s infinite;
  transform: scale(0.1);
  opacity: 0;
}
.loader-container > *:nth-child(1) {
  animation-delay: 0.5s;
}
.loader-container > *:nth-child(2) {
  animation-delay: 1s;
}
.loader-container > *:nth-child(3) {
  animation-delay: 1.5s;
}
.loader-container > *:nth-child(4) {
  animation-delay: 2s;
}

@keyframes loading3 {
  50% {
	transform: scale(1.25);
	left: 50%;
	opacity: 1;
  }
  100% {
	transform: scale(0.1);
	left: 100%;
	opacity: 0;
  }
}

.blockade { display: none; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 100000; }
.blocked .blockade { display: flex; }
body.offline .blockade { display: none; }
.blocked #finalAPP { opacity: 0; }

.blocked .roundedStart2 { background: #f6f6f6; }
.blocked .roundedStart { background: #eaeaea; }

.errored { display: none; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1000000; }
body.error .errored { display: flex; }
body.error #finalAPP { opacity: 0; }
body.error .blockade { display: none; }

/* Portrait layout (default) */
.loading {
	background-size: contain;
    position:fixed;           
    z-index: 2000000;
	height:100vh;
	margin: 0 auto;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	opacity: 1;
	overflow-x: hidden;
	text-align: center;
	opacity: 0; 
	display: none;
}
body.offline .loading { opacity: 1; display: flex; }

.loading .progress { margin: 0px 15vw; min-height: 66px; }
.progressB { display: block; background: linear-gradient(-45deg, #f4f4f4, #eee, #f4f4f4); height: 0px; width: 1%; position: relative; margin-bottom: 40px; margin-left: 5px; margin-right: 5px; transition-duration: 1s; height: 0px; opacity: 0; margin-top: 0px; }
.progressB .bar { display: block; background: linear-gradient(-45deg, #6E358C, #2A225E, #6E358C); height: 6px; width: 0%; position: relative; transition-duration: 1s; }
.progressB .bar span { float: right; font-weight: bold; text-align: right; padding-top: 12px; }
.progressB:before { display: block; content: ""; width: 8px; height: 8px; background: #6E358C; position: absolute; top: -1px; left: -3px; border-radius: 50%; }
.progressB:after { display: block; content: ""; width: 8px; height: 8px; background: #6E358C; position: absolute; top: -1px; right: -3px; border-radius: 50%; }
.progressB .bar:after { display: block; content: ""; width: 8px; height: 8px; background: #6E358C; position: absolute; top: -1px; right: -3px; border-radius: 50%; }
.progressB.inited { width: 100%; height: 6px; opacity: 1; margin-top: 20px; }
.progressB.finished2 { width: 0%; height: 0px; opacity: 0; }

.debug { position: fixed; bottom: 20px; left: 20px; height: 20px; width: 20px; background: #222; border-radius: 50%; cursor: pointer; z-index: 999999999; display: none; }

.tabber2 { border-bottom: 0; margin-top: -20px; margin-bottom: 0px; margin-left: 0px !important; transition-duration: 1.5s; text-align: left; padding: 20px 20px 20px 20px; text-align: center; }
.tabber2:hover {  }
.tabber2:active { }
.tabber2 li { display: inline-block; cursor: pointer;  margin-right: 2px; text-align: left; min-width: 40px; font-size: 100%; position: relative; }
.tabber2 li span { display: inline-block; font-weight: bold; color: #555; padding: 8px 14px; background: rgba(1,1,1,0.05); border-radius: 22px; transition-duration: .5s; }
.tabber2 li span i { display: inline-block; opacity: 1; transform: rotate(0deg); transition-duration: .5s; }
.tabber2 li:hover {  }
.tabber2 li:hover span { color: #AD348B; }
.tabber2 li:hover span i { opacity: 0.7; transform: rotate(-90deg); }
.tabber2 li.tab--active {  }
.tabber2 li.tab--active span { color: #fff; background: #6E358C; }
.tabber2 li.tab--active span i { opacity: 1; transform: rotate(0deg); }
.tabber2 li.tab--active:hover span i { opacity: 1; transform: rotate(0deg); }

.tabber { white-space: nowrap; }
.tabber-slided { white-space: nowrap; overflow-x: auto; -ms-overflow-style: none; scrollbar-width: none; overflow-y: scroll; }
.tabber-slided::-webkit-scrollbar { display: none; }

.cleanArchiveSearchQuery { position: absolute; top: 7px; right: 14px; }

#consoleApp2 {  }
#consoleApp2 .log { border-bottom: 1px solid #888; padding-bottom: 10px; margin-bottom: 10px; word-wrap: break-word; overflow-wrap: break-word; }
#consoleApp2 .log .date { font-weight: bold; display: block; margin-bottom: 5px; }